serverenv/
data.yaml
detect.py
FaceDetectEmbedding*.py
FaceDetectTest.py
FaceEmbeddingDetect2.py
runs/
wider_to_yolo.py
yolo*.pt
ReadMe.md
Contract/node_modules
Contract/dist
Contract/bundle
Contract/artifacts
Contract/cache
Contract/types
Contract/README.md
Contract/coverage
zk-bio-server/target
embedding_proof/target
embedding_proof/poseidon2Generator/node_modules
