serverenv/
data.yaml
detect.py
FaceDetectEmbedding*.py
FaceDetectTest.py
FaceEmbeddingDetect2.py
runs/
wider_to_yolo.py
yolo*.pt
ReadMe.md

# Node modules
Contract/node_modules

# Compilation output
Contract/dist

# pnpm deploy output
Contract/bundle

# Hardhat Build Artifacts
Contract/artifacts

# Hardhat compilation (v2) support directory
Contract/cache

# Typechain output
Contract/types
Contract/README.md
# Hardhat coverage reports
Contract/coverage
zk-bio-server/target
embedding_proof/target