serverenv/
data.yaml
detect.py
FaceDetectEmbedding*.py
FaceDetectTest.py
FaceEmbeddingDetect2.py
runs/
wider_to_yolo.py
yolo*.pt
ReadMe.md
Contract/node_modules
Contract/dist
Contract/bundle
Contract/artifacts
Contract/cache
Contract/types
Contract/README.md
Contract/coverage
zk-bio-server/target
Contract/target
poseidon2Generator/node_modules
Contract/ignition/deployments
embedding_proof/Test/node_modules
embedding-to-js/node_modules
